!!!
%html.no-js{lang: "zxx"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Shop-Single | Bookshop Responsive Bootstrap4 Template
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    / Favicons
    %link{href: "/assets/images/favicon.ico", rel: "shortcut icon"}/
    %link{href: "/assets/images/icon.png", rel: "apple-touch-icon"}/
    / Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy)
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", rel: "stylesheet"}/
    / Stylesheets
    %link{href: "/assets/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/assets/css/plugins.css", rel: "stylesheet"}/
    %link{href: "/assets/css/style.css", rel: "stylesheet"}/
    / Cusom css
    %link{href: "/assets/css/custom.css", rel: "stylesheet"}/
    / Modernizer js
    %script{src: "/assets/js/vendor/modernizr-3.5.0.min.js"}
  %body
    /[if lte IE 9]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    / Main wrapper
    #wrapper.wrapper
      / Header
      %header#wn__header.oth-page.header__area.header__absolute.sticky__header
        .container-fluid
          .row
            .col-md-4.col-sm-4.col-7.col-lg-2
              .logo
                %a{href: "/"}
                  %img{alt: "logo images", src: "/assets/images/logo/logo.png"}/
            .col-lg-8.d-none.d-lg-block
              %nav.mainmenu__nav
                %ul.meninmenu.d-flex.justify-content-start
                  %li.drop.with--one--item
                    %a{href: "/"} Home
                  %li.drop
                    %a{href: "#"} Shop
                    .megamenu.mega03
                      %ul.item.item03
                        %li.title Shop Layout
                        %li
                          %a{href: "shop-grid"} Shop Grid
                        %li
                          %a{href: "single-product"} Single Product
                      %ul.item.item03
                        %li.title Shop Page
                        %li
                          %a{href: "my-account"} My Account
                        %li
                          %a{href: "/cart"} Cart Page
                        %li
                          %a{href: "/checkout"} Checkout Page
                        %li
                          %a{href: "wishlist"} Wishlist Page
                        %li
                          %a{href: "error404"} 404 Page
                        %li
                          %a{href: "faq"} Faq Page
                      %ul.item.item03
                        %li.title Bargain Books
                        %li
                          %a{href: "shop-grid"} Bargain Bestsellers
                        %li
                          %a{href: "shop-grid"} Activity Kits
                        %li
                          %a{href: "shop-grid"} B&amp;N Classics
                        %li
                          %a{href: "shop-grid"} Books Under $5
                        %li
                          %a{href: "shop-grid"} Bargain Books
                  %li.drop
                    %a{href: "shop-grid"} Books
                    .megamenu.mega03
                      %ul.item.item03
                        %li.title Categories
                        %li
                          %a{href: "shop-grid"} Biography
                        %li
                          %a{href: "shop-grid"} Business
                        %li
                          %a{href: "shop-grid"} Cookbooks
                        %li
                          %a{href: "shop-grid"} Health &amp; Fitness
                        %li
                          %a{href: "shop-grid"} History
                      %ul.item.item03
                        %li.title Customer Favourite
                        %li
                          %a{href: "shop-grid"} Mystery
                        %li
                          %a{href: "shop-grid"} Religion &amp; Inspiration
                        %li
                          %a{href: "shop-grid"} Romance
                        %li
                          %a{href: "shop-grid"} Fiction/Fantasy
                        %li
                          %a{href: "shop-grid"} Sleeveless
                      %ul.item.item03
                        %li.title Collections
                        %li
                          %a{href: "shop-grid"} Science
                        %li
                          %a{href: "shop-grid"} Fiction/Fantasy
                        %li
                          %a{href: "shop-grid"} Self-Improvemen
                        %li
                          %a{href: "shop-grid"} Home &amp; Garden
                        %li
                          %a{href: "shop-grid"} Humor Books
                  %li.drop
                    %a{href: "shop-grid"} Kids
                    .megamenu.mega02
                      %ul.item.item02
                        %li.title Top Collections
                        %li
                          %a{href: "shop-grid"} American Girl
                        %li
                          %a{href: "shop-grid"} Diary Wimpy Kid
                        %li
                          %a{href: "shop-grid"} Finding Dory
                        %li
                          %a{href: "shop-grid"} Harry Potter
                        %li
                          %a{href: "shop-grid"} Land of Stories
                      %ul.item.item02
                        %li.title More For Kids
                        %li
                          %a{href: "shop-grid"} B&amp;N Educators
                        %li
                          %a{href: "shop-grid"} B&amp;N Kids' Club
                        %li
                          %a{href: "shop-grid"} Kids' Music
                        %li
                          %a{href: "shop-grid"} Toys &amp; Games
                        %li
                          %a{href: "shop-grid"} Hoodies
                  %li.drop
                    %a{href: "#"} Pages
                    .megamenu.dropdown
                      %ul.item.item01
                        %li
                          %a{href: "about"} About Page
                        %li.label2
                          %a{href: "portfolio"} Portfolio
                          %ul
                            %li
                              %a{href: "portfolio"} Portfolio
                            %li
                              %a{href: "portfolio-details"} Portfolio Details
                        %li
                          %a{href: "my-account"} My Account
                        %li
                          %a{href: "/cart"} Cart Page
                        %li
                          %a{href: "/checkout"} Checkout Page
                        %li
                          %a{href: "wishlist"} Wishlist Page
                        %li
                          %a{href: "error404"} 404 Page
                        %li
                          %a{href: "faq"} Faq Page
                        %li
                          %a{href: "team"} Team Page
                  %li.drop
                    %a{href: "blog"} Blog
                    .megamenu.dropdown
                      %ul.item.item01
                        %li
                          %a{href: "blog"} Blog Page
                        %li
                          %a{href: "blog-details"} Blog Details
                  %li
                    %a{href: "/contact"} Contact
            .col-md-8.col-sm-8.col-5.col-lg-2
              %ul.header__sidebar__right.d-flex.justify-content-end.align-items-center
                %li.shop_search
                  %a.search__active{href: "#"}
                %li.wishlist
                  %a{href: "#"}
                %li.shopcart
                  %a.cartbox_active{href: "#"}
                    %span.product_qun 3
                  / Start Shopping Cart
                  .block-minicart.minicart__active
                    .minicart-content-wrapper
                      .micart__close
                        %span close
                      .items-total.d-flex.justify-content-between
                        %span 3 items
                        %span Cart Subtotal
                      .total_amount.text-right
                        %span $66.00
                      .mini_action.checkout
                        %a.checkout__btn{href: "/cart"} Go to Checkout
                      .single__items
                        .miniproduct
                          .item01.d-flex
                            .thumb
                              %a{href: "product-details"}
                                %img{alt: "product images", src: "/assets/images/product/sm-img/1.jpg"}/
                            .content
                              %h6
                                %a{href: "product-details"} Voyage Yoga Bag
                              %span.prize $30.00
                              .product_prize.d-flex.justify-content-between
                                %span.qun Qty: 01
                                %ul.d-flex.justify-content-end
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-settings
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-delete
                          .item01.d-flex.mt--20
                            .thumb
                              %a{href: "product-details"}
                                %img{alt: "product images", src: "/assets/images/product/sm-img/3.jpg"}/
                            .content
                              %h6
                                %a{href: "product-details"} Impulse Duffle
                              %span.prize $40.00
                              .product_prize.d-flex.justify-content-between
                                %span.qun Qty: 03
                                %ul.d-flex.justify-content-end
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-settings
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-delete
                          .item01.d-flex.mt--20
                            .thumb
                              %a{href: "product-details"}
                                %img{alt: "product images", src: "/assets/images/product/sm-img/2.jpg"}/
                            .content
                              %h6
                                %a{href: "product-details"} Compete Track Tote
                              %span.prize $40.00
                              .product_prize.d-flex.justify-content-between
                                %span.qun Qty: 03
                                %ul.d-flex.justify-content-end
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-settings
                                  %li
                                    %a{href: "#"}
                                      %i.zmdi.zmdi-delete
                      .mini_action.cart
                        %a.cart__btn{href: "/cart"} View and edit cart
                  / End Shopping Cart
                %li.setting__bar__icon
                  %a.setting__active{href: "#"}
                  .searchbar__content.setting__block
                    .content-inner
                      .switcher-currency
                        %strong.label.switcher-label
                          %span Currency
                        .switcher-options
                          .switcher-currency-trigger
                            %span.currency-trigger USD - US Dollar
                            %ul.switcher-dropdown
                              %li GBP - British Pound Sterling
                              %li EUR - Euro
                      .switcher-currency
                        %strong.label.switcher-label
                          %span Language
                        .switcher-options
                          .switcher-currency-trigger
                            %span.currency-trigger English01
                            %ul.switcher-dropdown
                              %li English02
                              %li English03
                              %li English04
                              %li English05
                      .switcher-currency
                        %strong.label.switcher-label
                          %span Select Store
                        .switcher-options
                          .switcher-currency-trigger
                            %span.currency-trigger Fashion Store
                            %ul.switcher-dropdown
                              %li Furniture
                              %li Shoes
                              %li Speaker Store
                              %li Furniture
                      .switcher-currency
                        %strong.label.switcher-label
                          %span My Account
                        .switcher-options
                          .switcher-currency-trigger
                            .setting__menu
                              %span
                                %a{href: "#"} Compare Product
                              %span
                                %a{href: "#"} My Account
                              %span
                                %a{href: "#"} My Wishlist
                              %span
                                %a{href: "#"} Sign In
                              %span
                                %a{href: "#"} Create An Account
          / Start Mobile Menu
          .row.d-none
            .col-lg-12.d-none
              %nav.mobilemenu__nav
                %ul.meninmenu
                  %li
                    %a{href: "/"} Home
                  %li
                    %a{href: "#"} Pages
                    %ul
                      %li
                        %a{href: "about"} About Page
                      %li
                        %a{href: "portfolio"} Portfolio
                        %ul
                          %li
                            %a{href: "portfolio"} Portfolio
                          %li
                            %a{href: "portfolio-details"} Portfolio Details
                      %li
                        %a{href: "my-account"} My Account
                      %li
                        %a{href: "/cart"} Cart Page
                      %li
                        %a{href: "/checkout"} Checkout Page
                      %li
                        %a{href: "wishlist"} Wishlist Page
                      %li
                        %a{href: "error404"} 404 Page
                      %li
                        %a{href: "faq"} Faq Page
                      %li
                        %a{href: "team"} Team Page
                  %li
                    %a{href: "shop-grid"} Shop
                    %ul
                      %li
                        %a{href: "shop-grid"} Shop Grid
                      %li
                        %a{href: "single-product"} Single Product
                  %li
                    %a{href: "blog"} Blog
                    %ul
                      %li
                        %a{href: "blog"} Blog Page
                      %li
                        %a{href: "blog-details"} Blog Details
                  %li
                    %a{href: "/contact"} Contact
          / End Mobile Menu
          .mobile-menu.d-block.d-lg-none
          / Mobile Menu
      / //Header
      / Start Search Popup
      .box-search-content.search_active.block-bg.close__top
        %form#search_mini_form.minisearch{action: "#"}
          .field__search
            %input{placeholder: "Search entire store here...", type: "text"}/
            .action
              %a{href: "#"}
                %i.zmdi.zmdi-search
        .close__wrap
          %span close
      / End Search Popup
      / Start Bradcaump area
      .ht__bradcaump__area.bg-image--4
        .container
          .row
            .col-lg-12
              .bradcaump__inner.text-center
                %h2.bradcaump-title Shop Single
                %nav.bradcaump-content
                  %a.breadcrumb_item{href: "/"} Home
                  %span.brd-separetor /
                  %span.breadcrumb_item.active Shop Single
      / End Bradcaump area
      / Start main Content
      .maincontent.bg--white.pt--80.pb--55
        .container
          .row
            .col-lg-9.col-12
              .wn__single__product
                .row
                  .col-lg-6.col-12
                    .wn__fotorama__wrapper
                      .fotorama.wn__fotorama__action{"data-nav" => "thumbs"}
                        - 10.times do
                          %a{href: "1.jpg"}
                            = image_tag @product.image.url
                  .col-lg-6.col-12
                    .product__info__main
                      %h1= @product.title
                      .product-reviews-summary.d-flex
                        %ul.rating-summary.d-flex
                          %li
                            %i.zmdi.zmdi-star-outline
                          %li
                            %i.zmdi.zmdi-star-outline
                          %li
                            %i.zmdi.zmdi-star-outline
                          %li.off
                            %i.zmdi.zmdi-star-outline
                          %li.off
                            %i.zmdi.zmdi-star-outline
                      .price-box
                        %span="$ #{@product.offer_price}"
                      .product__overview
                        %p Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.
                        %p Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear.
                      .box-tocart.d-flex
                        %span Qty
                        %input#qty.input-text.qty{min: "1", name: "qty", title: "Qty", type: "number", value: "1"}/
                        .addtocart__actions
                          %a.tocart{title: "Pay Now", type: "submit", href: "/reservation/#{@product.id}"} Reserve
                        .product-addto-links.clearfix
                          %a.wishlist{href: "#"}
                          %a.compare{href: "#"}

                      .box-tocart.d-flex
                        %a{href: "http://paypal.com/cgi-bin/webscr?amount=#{@product.offer_price}&business=gagg1707_vendedor_seller%40gmail.com&cmd=_xclick&invoice=bmesai32&item_name=Nombre+del+curso&item_number=1&notify_url=http%3A%2Flocalhost%3A3000&quantity=1&return=http%3A%2Flocalhost%3A3000%2Fpayments%2F1%2Fpaypal%2Fbmesai32&upload=1", target: '_blank'}
                          %img{alt: "product image", src: "/assets/images/paypalbtn.png"}/
                        %br
                        %form{action: "/", method: "GET"}
                          %script.stripe-button{"data-amount" => "#{100 * 100}", "data-description" => "#{@product.title}", "data-image" => "https://stripe.com/img/documentation/checkout/marketplace.png", "data-key" => "pk_test_3UFEcpinON2UAw8wcl1LeMYV", "data-locale" => "auto", "data-name" => "Bookstor", :src => "https://checkout.stripe.com/checkout.js"}
                          :javascript
                            // Hide default stripe button, be careful there if you
                            // have more than 1 button of that class
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                          %button{type: 'submit'}
                            %img{alt: "product image", src: "/assets/images/stripebtn.png"}/

                      .product_meta
                        %span.posted_in
                          Categories:
                          = succeed "," do
                            %a{href: "#"} Adventure
                          %a{href: "#"} Kids' Music
                      .product-share
                        %ul
                          %li.categories-title Share :
                          %li
                            %a{href: "#"}
                              %i.icon-social-twitter.icons
                          %li
                            %a{href: "#"}
                              %i.icon-social-tumblr.icons
                          %li
                            %a{href: "#"}
                              %i.icon-social-facebook.icons
                          %li
                            %a{href: "#"}
                              %i.icon-social-linkedin.icons
              .product__info__detailed
                .pro_details_nav.nav.justify-content-start{role: "tablist"}
                  %a.nav-item.nav-link.active{"data-toggle" => "tab", href: "#nav-details", role: "tab"} Details
                  %a.nav-item.nav-link{"data-toggle" => "tab", href: "#nav-review", role: "tab"} Reviews
                .tab__container
                  / Start Single Tab Content
                  #nav-details.pro__tab_label.tab-pane.fade.show.active{role: "tabpanel"}
                    .description__attribute
                      %p Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.
                      %ul
                        %li • Two-tone gray heather hoodie.
                        %li • Drawstring-adjustable hood.
                        %li • Machine wash/dry.
                  / End Single Tab Content
                  / Start Single Tab Content
                  #nav-review.pro__tab_label.tab-pane.fade{role: "tabpanel"}
                    .review__attribute
                      %h1 Customer Reviews
                      %h2 Hastech
                      .review__ratings__type.d-flex
                        .review-ratings
                          .rating-summary.d-flex
                            %span Quality
                            %ul.rating.d-flex
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                          .rating-summary.d-flex
                            %span Price
                            %ul.rating.d-flex
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                          .rating-summary.d-flex
                            %span value
                            %ul.rating.d-flex
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                        .review-content
                          %p Hastech
                          %p Review by Hastech
                          %p Posted on 11/6/2018
                    .review-fieldset
                      %h2 You're reviewing:
                      %h3 Chaz Kangeroo Hoodie
                      .review-field-ratings
                        .product-review-table
                          .review-field-rating.d-flex
                            %span Quality
                            %ul.rating.d-flex
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                          .review-field-rating.d-flex
                            %span Price
                            %ul.rating.d-flex
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                          .review-field-rating.d-flex
                            %span Value
                            %ul.rating.d-flex
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                              %li.off
                                %i.zmdi.zmdi-star
                      .review_form_field
                        .input__box
                          %span Nickname
                          %input#nickname_field{name: "nickname", type: "text"}/
                        .input__box
                          %span Summary
                          %input#summery_field{name: "summery", type: "text"}/
                        .input__box
                          %span Review
                          %textarea{name: "review"}
                        .review-form-actions
                          %button Submit Review
                  / End Single Tab Content
              .wn__related__product.pt--80.pb--50
                .section__title.text-center
                  %h2.title__be--2 Related Products
                .row.mt--60
                  .productcategory__slide--2.arrows_style.owl-carousel.owl-theme
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/1.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/2.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALLER
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} robin parrish
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/3.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/4.jpg"}/
                        .hot__box.color--2
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} The Remainng
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/7.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/8.jpg"}/
                        .hot__box
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} Lando
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $50.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/9.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/10.jpg"}/
                        .hot__box
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} Doctor Wldo
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/11.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/2.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALER
                      .product__content.content--center.content--center
                        %h4
                          %a{href: "single-product"} Animals Life
                        %ul.prize.d-flex
                          %li $50.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/1.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/6.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALER
                      .product__content.content--center.content--center
                        %h4
                          %a{href: "single-product"} Olio Madu
                        %ul.prize.d-flex
                          %li $50.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
              .wn__related__product
                .section__title.text-center
                  %h2.title__be--2 upsell products
                .row.mt--60
                  .productcategory__slide--2.arrows_style.owl-carousel.owl-theme
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/1.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/2.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALLER
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} robin parrish
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/3.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/4.jpg"}/
                        .hot__box.color--2
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} The Remainng
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/7.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/8.jpg"}/
                        .hot__box
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} Lando
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $50.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/9.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/10.jpg"}/
                        .hot__box
                          %span.hot-label HOT
                      .product__content.content--center
                        %h4
                          %a{href: "single-product"} Doctor Wldo
                        %ul.prize.d-flex
                          %li $35.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/11.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/2.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALER
                      .product__content.content--center.content--center
                        %h4
                          %a{href: "single-product"} Animals Life
                        %ul.prize.d-flex
                          %li $50.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
                    / Start Single Product
                    .product.product__style--3.col-lg-4.col-md-4.col-sm-6.col-12
                      .product__thumb
                        %a.first__img{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/1.jpg"}/
                        %a.second__img.animation1{href: "single-product"}
                          %img{alt: "product image", src: "/assets/images/books/6.jpg"}/
                        .hot__box
                          %span.hot-label BEST SALER
                      .product__content.content--center.content--center
                        %h4
                          %a{href: "single-product"} Olio Madu
                        %ul.prize.d-flex
                          %li $50.00
                          %li.old_prize $35.00
                        .action
                          .actions_inner
                            %ul.add_to_links
                              %li
                                %a.cart{href: "/cart"}
                                  %i.bi.bi-shopping-bag4
                              %li
                                %a.wishlist{href: "wishlist"}
                                  %i.bi.bi-shopping-cart-full
                              %li
                                %a.compare{href: "#"}
                                  %i.bi.bi-heart-beat
                              %li
                                %a.quickview.modal-view.detail-link{"data-toggle" => "modal", href: "#productmodal", title: "Quick View"}
                                  %i.bi.bi-search
                        .product__hover--content
                          %ul.rating.d-flex
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li.on
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                            %li
                              %i.fa.fa-star-o
                    / Start Single Product
            .col-lg-3.col-12.md-mt-40.sm-mt-40
              .shop__sidebar
                %aside.wedget__categories.poroduct--cat
                  %h3.wedget__title Product Categories
                  %ul
                    %li
                      %a{href: "#"}
                        Biography
                        %span (3)
                    %li
                      %a{href: "#"}
                        Business
                        %span (4)
                    %li
                      %a{href: "#"}
                        Cookbooks
                        %span (6)
                    %li
                      %a{href: "#"}
                        Health &amp; Fitness
                        %span (7)
                    %li
                      %a{href: "#"}
                        History
                        %span (8)
                    %li
                      %a{href: "#"}
                        Mystery
                        %span (9)
                    %li
                      %a{href: "#"}
                        Inspiration
                        %span (13)
                    %li
                      %a{href: "#"}
                        Romance
                        %span (20)
                    %li
                      %a{href: "#"}
                        Fiction/Fantasy
                        %span (22)
                    %li
                      %a{href: "#"}
                        Self-Improvement
                        %span (13)
                    %li
                      %a{href: "#"}
                        Humor Books
                        %span (17)
                    %li
                      %a{href: "#"}
                        Harry Potter
                        %span (20)
                    %li
                      %a{href: "#"}
                        Land of Stories
                        %span (34)
                    %li
                      %a{href: "#"}
                        Kids' Music
                        %span (60)
                    %li
                      %a{href: "#"}
                        Toys &amp; Games
                        %span (3)
                    %li
                      %a{href: "#"}
                        hoodies
                        %span (3)
                %aside.wedget__categories.pro--range
                  %h3.wedget__title Filter by price
                  .content-shopby
                    .price_filter.s-filter.clear
                      %form{action: "#", method: "GET"}
                        #slider-range
                        .slider__range--output
                          .price__output--wrap
                            .price--output
                              %span Price :
                              %input#amount{readonly: "readonly", type: "text"}/
                            .price--filter
                              %a{href: "#"} Filter
                %aside.wedget__categories.poroduct--compare
                  %h3.wedget__title Compare
                  %ul
                    %li
                      %a{href: "#"} x
                      %a{href: "#"} Condimentum posuere
                    %li
                      %a{href: "#"} x
                      %a{href: "#"} Condimentum posuere
                    %li
                      %a{href: "#"} x
                      %a{href: "#"} Dignissim venenatis
                %aside.wedget__categories.poroduct--tag
                  %h3.wedget__title Product Tags
                  %ul
                    %li
                      %a{href: "#"} Biography
                    %li
                      %a{href: "#"} Business
                    %li
                      %a{href: "#"} Cookbooks
                    %li
                      %a{href: "#"} Health &amp; Fitness
                    %li
                      %a{href: "#"} History
                    %li
                      %a{href: "#"} Mystery
                    %li
                      %a{href: "#"} Inspiration
                    %li
                      %a{href: "#"} Religion
                    %li
                      %a{href: "#"} Fiction
                    %li
                      %a{href: "#"} Fantasy
                    %li
                      %a{href: "#"} Music
                    %li
                      %a{href: "#"} Toys
                    %li
                      %a{href: "#"} Hoodies
                %aside.wedget__categories.sidebar--banner
                  %img{alt: "banner images", src: "/assets/images/others/banner_left.jpg"}/
                  .text
                    %h2 new products
                    %h6
                      save up to
                      %br/
                      = succeed "off" do
                        %strong 40%
      / End main Content
      / Start Search Popup
      .box-search-content.search_active.block-bg.close__top
        %form#search_mini_form--2.minisearch{action: "#"}
          .field__search
            %input{placeholder: "Search entire store here...", type: "text"}/
            .action
              %a{href: "#"}
                %i.zmdi.zmdi-search
        .close__wrap
          %span close
      / End Search Popup
      / Footer Area
      %footer#wn__footer.footer__area.bg__cat--8.brown--color
        .footer-static-top
          .container
            .row
              .col-lg-12
                .footer__widget.footer__menu
                  .ft__logo
                    %a{href: "/"}
                      %img{alt: "logo", src: "/assets/images/logo/3.png"}/
                    %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages
                  .footer__content
                    %ul.social__net.social__net--2.d-flex.justify-content-center
                      %li
                        %a{href: "#"}
                          %i.bi.bi-facebook
                      %li
                        %a{href: "#"}
                          %i.bi.bi-google
                      %li
                        %a{href: "#"}
                          %i.bi.bi-twitter
                      %li
                        %a{href: "#"}
                          %i.bi.bi-linkedin
                      %li
                        %a{href: "#"}
                          %i.bi.bi-youtube
                    %ul.mainmenu.d-flex.justify-content-center
                      %li
                        %a{href: "/"} Trending
                      %li
                        %a{href: "/"} Best Seller
                      %li
                        %a{href: "/"} All Product
                      %li
                        %a{href: "/"} Wishlist
                      %li
                        %a{href: "/"} Blog
                      %li
                        %a{href: "/"} Contact
        .copyright__wrapper
          .container
            .row
              .col-lg-6.col-md-6.col-sm-12
                .copyright
                  .copy__right__inner.text-left
                    %p
                      Copyright
                      %i.fa.fa-copyright
                      %a{href: "https://freethemescloud.com/"} Free themes Cloud.
                      All Rights Reserved
              .col-lg-6.col-md-6.col-sm-12
                .payment.text-right
                  %img{alt: "", src: "/assets/images/icons/payment.png"}/
      / //Footer Area
      / QUICKVIEW PRODUCT
      #quickview-wrapper
        / Modal
        #productmodal.modal.fade{role: "dialog", tabindex: "-1"}
          .modal-dialog.modal__container{role: "document"}
            .modal-content
              .modal-header.modal__header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body
                .modal-product
                  / Start product images
                  .product-images
                    .main-image.images
                      %img{alt: "big images", src: "/assets/images/product/big-img/1.jpg"}/
                  / end product images
                  .product-info
                    %h1 Simple Fabric Bags
                    .rating__and__review
                      %ul.rating
                        %li
                          %span.ti-star
                        %li
                          %span.ti-star
                        %li
                          %span.ti-star
                        %li
                          %span.ti-star
                        %li
                          %span.ti-star
                      .review
                        %a{href: "#"} 4 customer reviews
                    .price-box-3
                      .s-price-box
                        %span.new-price $17.20
                        %span.old-price $45.00
                    .quick-desc
                      Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                    .select__color
                      %h2 Select color
                      %ul.color__list
                        %li.red
                          %a{href: "#", title: "Red"} Red
                        %li.gold
                          %a{href: "#", title: "Gold"} Gold
                        %li.orange
                          %a{href: "#", title: "Orange"} Orange
                        %li.orange
                          %a{href: "#", title: "Orange"} Orange
                    .select__size
                      %h2 Select size
                      %ul.color__list
                        %li.l__size
                          %a{href: "#", title: "L"} L
                        %li.m__size
                          %a{href: "#", title: "M"} M
                        %li.s__size
                          %a{href: "#", title: "S"} S
                        %li.xl__size
                          %a{href: "#", title: "XL"} XL
                        %li.xxl__size
                          %a{href: "#", title: "XXL"} XXL
                    .social-sharing
                      .widget.widget_socialsharing_widget
                        %h3.widget-title-modal Share this product
                        %ul.social__net.social__net--2.d-flex.justify-content-start
                          %li.facebook
                            %a.rss.social-icon{href: "#"}
                              %i.zmdi.zmdi-rss
                          %li.linkedin
                            %a.linkedin.social-icon{href: "#"}
                              %i.zmdi.zmdi-linkedin
                          %li.pinterest
                            %a.pinterest.social-icon{href: "#"}
                              %i.zmdi.zmdi-pinterest
                          %li.tumblr
                            %a.tumblr.social-icon{href: "#"}
                              %i.zmdi.zmdi-tumblr
                    .addtocart-btn
                      %a{href: "#"} Add to cart
                  / .product-info
                / .modal-product
              / .modal-body
            / .modal-content
          / .modal-dialog
        / END Modal
      / END QUICKVIEW PRODUCT
    / //Main wrapper
    / JS Files
    %script{src: "/assets/js/vendor/jquery-3.2.1.min.js"}
    %script{src: "/assets/js/popper.min.js"}
    %script{src: "/assets/js/bootstrap.min.js"}
    %script{src: "/assets/js/plugins.js"}
    %script{src: "/assets/js/active.js"}
